@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@600&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Koulen', cursive;
    overflow: hidden;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
.banner .content{
  
    z-index: 1;
   position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.banner .btn{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    font-size: larger;
}
